{% extends "authenticated-base.html" %}
{% block title %}Programmes{% endblock %}

{% block external_js %}
{% endblock %}


{% block subpage_content %}
<div class="page-content">
    <div class="search">
        <input class="search-bar" type="text" placeholder="Programmes title or company name">
        
        <div class="search-filters">
            <button>Academic Year</button>
            <button>Field</button>
            <button>Credits</button>
        </div>
    </div>

    <div class="master-detail">
        <div class="master" id="master"></div>
        <div class="detail" id="detail"></div>
    </div>

</div>

<script>
    const data = [
        {id: 1, programme_title: "Internship Programme Title", company_name: "Company Name", company_location: "Location", academic_year: "Academic Year", field: "Field", credits: "Credits"},
        {id: 2, programme_title: "Hello", company_name: "Company Name", company_location: "Location", academic_year: "Academic Year", field: "Field", credits: "Credits"},
        {id: 3, programme_title: "Internship Programme Title", company_name: "Apple", company_location: "Location", academic_year: "Academic Year", field: "Field", credits: "Credits"},
        {id: 4, programme_title: "Internship Programme Title", company_name: "Company Name", company_location: "Location", academic_year: "Academic Year", field: "Field", credits: "Credits"},
        {id: 5, programme_title: "Internship Programme Title", company_name: "Company Name", company_location: "Location", academic_year: "Academic Year", field: "Field", credits: "Credits"}
    ];
    const masterList = document.getElementById("master");
    const detailView = document.getElementById("detail");

    function renderList() {
        masterList.innerHTML = "";
  
        for (let i=0; i<data.length; i++) {
            let item = data[i];
            let div = document.createElement("div");

            div.className = "master-item";
            div.innerHTML = `
                <div class="item-content">
                    <h2>${item.programme_title}</h2>
                    <p>${item.company_name}, ${item.company_location}</p>
                    <span>${item.academic_year}</span>
                    <span>${item.field}</span>
                    <span>${item.credits}</span>
                </div>
            `;
            div.onclick = function () {
                let allItems = document.querySelectorAll(".master-item");
                for (let j=0; j<allItems.length; j++) {
                    allItems[j].classList.remove("active");
                }

                this.classList.add("active");
                renderDetail(item);
            }
            masterList.appendChild(div);
        }

    }

    function renderDetail(item) {
        detailView.innerHTML = `
            <div class="detail-view">
                <h2>${item.programme_title}</h2>
                <p>${item.company_name}, ${item.company_location}</p>
                <span>${item.academic_year}</span>
                <span>${item.field}</span>
                <span>${item.credits}</span><br>
                <h3>Position Overview</h3>
                <h3>Responsibilites</h3>
                <h3>Requirements</h3>
                <button>Apply Now</button>
            </div>
        `;
    }

    renderList();
    renderDetail(data[0]);

</script>

{% endblock %}